<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - SkiffyBOT API</title>
    <meta name="description" content="Official and free API for Skiffy Discord bot.">
    <meta name="keywords" content="skiffy, bot, api, docs, documentation">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>SkiffyBOT API - Index</h1>
    <hr>

    <div class="header">» Available API versions:</div>
    <div>• <a href="/api/v1">/api/v1</a></div>

    <div class="header">» Other info:</div>
    <div>• Author: <a href="https://sefinek.net">Sefinek</a></div>
    <div>• Contact: <a href="mailto:contact@sefinek.net">contact@sefinek.net</a></div>
    <div>• Version: v<%= version %></div>
    <div>• Worker: <%= process.pid %></div>
    <div>• Uptime: <%= uptime %></div>

    <p>
        <a href="https://github.com/sefinek24/skiffybot-api-public" title="Source code">Source code</a>
    </p>

    <meta property="og:site_name" content="SkiffyBOT API">
    <meta property="og:url" content="https://api.sefinek.net">
    <meta name="theme-color" content="#000001">
</body>
</html>